.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.fullSpaceCenteredBlock {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.warningText {
  padding: 16px;
}

.progressWrapper,
.warningWrapper {
  composes: fullSpaceCenteredBlock;
}
